<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2>About US</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iusto debitis dolores commodi magnam
                    iste
                    libero ex optio, quos, aliquid magni aliquam eos in dolorum facere? Repudiandae quod nostrum
                    consequatur.
                </p>
            </div>
            <%- include('./partials/footer.ejs') %>

    </body>

</html>